<!DOCTYPE html>
<html>
<head>
    <title>Регистрация</title>
</head>
<body>
    <h1>Регистрация</h1>
    <form action="/sign_up" method="post">
        <label for="login">Логин:</label><br>
        <input type="text" id="login" name="login"><br>
        <label for="password">Пароль:</label><br>
        <input type="password" id="password" name="password"><br>
        <label for="height">Рост:</label><br>
        <input type="number" id="height" name="height"><br>
        <label for="age">Возраст:</label><br>
        <input type="number" id="age" name="age"><br>
        <label for="name">Имя:</label><br>
        <input type="text" id="name" name="name"><br><br>
        <input type="submit" value="Зарегистрироваться">
    </form>
</body>
</html>
